html {
  margin: 0;
  padding: 0;
}
body {
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  background-color: hsl(218, 28%, 13%);
  color: hsl(0, 0%, 100%);
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 2% 5%;
}
#header-list {
  display: flex;
  justify-content: space-between;
}
#header-list li {
  margin-right: 3em;
}
#header-list li:last-of-type {
  margin-right: 0;
}
.hero-unit {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.hero-heading {
  max-width: 38ch;
  text-align: center;
  margin-top: 1.2em;
}
.hero-text {
  max-width: 55ch;
  text-align: center;
  margin-bottom: 1.2em;
}
.btn-get-started {
  padding: 0.8em 5em;
  border-radius: 7.5em;
  background: linear-gradient(to right, hsl(176, 68%, 64%), hsl(198, 60%, 50%));
  color: white;
  font-weight: bold;
  border: transparent;
}
ul {
  list-style: none;
}
h1,
h2,
h3,
h4 {
  font-family: "Raleway";
}
@media screen and (max-width: 375px) {
  body {
  }
}
